header{
    background-color: #ebebe5;
    padding: 50px;
}
header ul{
    float: right;
    color: black;
}
header li{
    display: inline-block;
    padding: 0px 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    display: flex;
    flex-direction:row;
    background-color: #7A8A83;
    justify-content: center;
    padding: 100px;
    margin: auto;
    width: 85vw;
    height: 50vh;
}
.heroImg img{
    width: 60%;
    padding: 50px 100px;
    margin: 50 auto;
}
.herotext{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.aboutme{
    background-color: #ebebe5;
    display: flex;
    flex-direction: row;
}
.potrate{
    width: 50%;
    padding: 100px;
}
.aboutmetext{
    text-align: center;
    width: 50%;
    padding: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.skills header{
    font-size: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 75px;
    background-color: #465A58;
    padding: 100px;
    justify-content: center;
  }
  .grid-container > div {
    background-color: #ebebe5;
    text-align: center;
    padding: 100px 75px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

  }
  .casestudies{
    background-color: #ebebe5;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
  }
  .grid-containertwo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 75px;
    background-color: #ebebe5;
    padding: 75px;
    justify-content: center;
  }
  .grid-containertwo > div {
    background-color: #7A8A83;
    text-align: center;
    padding: 150px 150px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .contactme{
    background-color: #8E968B;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
  }
  .contactme header{
    background-color: #8E968B;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  .contactme ul{
    float: center;
    list-style: none;
    padding-left: 100px;
}
.contactme li button {
    display: center;
    padding: 12px 28px;
    padding: 10px;
    color: black;
    font-size: 16px;
    border-radius: 4px;
    width: 150px;
    transition-duration: 0.4s;
}
.contactme li button:hover{
    background-color: darkgrey;
}
.footer{
    background-color: #CCCDC8;
    padding: 75px;
    color: black;
}
.footer ul{
    float: center;
    list-style: none;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer li{
    display: inline-block;
    padding: 0px 75px;
}